In [68]:
import pandas as pd
import numpy as np
import pickle

In [69]:
df = pickle.load(open('dataset_level2.pkl','rb'))

In [70]:
df
# batting_team
# bowling team
# city
# current score
# ball left
# wickets left
# current rr
# last five

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
741,8,Kolkata Knight Riders,Mumbai Indians,0.1,1,0,Mumbai,Wankhede Stadium
742,8,Kolkata Knight Riders,Mumbai Indians,0.2,1,0,Mumbai,Wankhede Stadium
743,8,Kolkata Knight Riders,Mumbai Indians,0.3,1,0,Mumbai,Wankhede Stadium
744,8,Kolkata Knight Riders,Mumbai Indians,0.4,0,0,Mumbai,Wankhede Stadium
745,8,Kolkata Knight Riders,Mumbai Indians,0.5,1,0,Mumbai,Wankhede Stadium
...,...,...,...,...,...,...,...,...
142289,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.2,0,0,Delhi,Feroz Shah Kotla
142290,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.3,6,0,Delhi,Feroz Shah Kotla
142291,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.4,1,0,Delhi,Feroz Shah Kotla
142292,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.5,0,B Kumar,Delhi,Feroz Shah Kotla
142293,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.6,1,0,Delhi,Feroz Shah Kotla

In [71]:
df.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [72]:
df.drop(columns=['venue'], inplace=True)

In [73]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
741,8,Kolkata Knight Riders,Mumbai Indians,0.1,1,0,Mumbai
742,8,Kolkata Knight Riders,Mumbai Indians,0.2,1,0,Mumbai
743,8,Kolkata Knight Riders,Mumbai Indians,0.3,1,0,Mumbai
744,8,Kolkata Knight Riders,Mumbai Indians,0.4,0,0,Mumbai
745,8,Kolkata Knight Riders,Mumbai Indians,0.5,1,0,Mumbai
...,...,...,...,...,...,...,...
142289,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.2,0,0,Delhi
142290,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.3,6,0,Delhi
142291,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.4,1,0,Delhi
142292,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.5,0,B Kumar,Delhi
142293,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.6,1,0,Delhi

In [74]:
df['city'].value_counts()

city
Mumbai            16044
Kolkata            8879
Chennai            8706
Delhi              6970
Jaipur             6480
Hyderabad          5968
Ahmedabad          4730
Unknown            4225
Abu Dhabi          3574
Chandigarh         3100
Bengaluru          2737
Lucknow            2624
Bangalore          2396
Pune               2122
Visakhapatnam      1375
Dubai              1374
Sharjah            1245
Navi Mumbai        1133
Mohali             1090
Dharamsala          938
Centurion           753
Durban              746
Guwahati            623
Ranchi              593
Cape Town           497
Cuttack             493
Port Elizabeth      370
Indore              252
Kimberley           243
New Chandigarh      211
East London         126
Bloemfontein        124
Name: count, dtype: int64

In [75]:
eligible_cities = df['city'].value_counts()[df['city'].value_counts()>600].index.tolist()

In [76]:
df=df[df['city'].isin(eligible_cities)]

In [77]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
741,8,Kolkata Knight Riders,Mumbai Indians,0.1,1,0,Mumbai
742,8,Kolkata Knight Riders,Mumbai Indians,0.2,1,0,Mumbai
743,8,Kolkata Knight Riders,Mumbai Indians,0.3,1,0,Mumbai
744,8,Kolkata Knight Riders,Mumbai Indians,0.4,0,0,Mumbai
745,8,Kolkata Knight Riders,Mumbai Indians,0.5,1,0,Mumbai
...,...,...,...,...,...,...,...
142289,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.2,0,0,Delhi
142290,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.3,6,0,Delhi
142291,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.4,1,0,Delhi
142292,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.5,0,B Kumar,Delhi
142293,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.6,1,0,Delhi

In [78]:
# Convert runs to numbers 
df['runs'] = pd.to_numeric(df['runs'], errors='coerce').fillna(0).astype(int)

C:\Users\Patel Meet\AppData\Local\Temp\ipykernel_33744\2191771701.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['runs'] = pd.to_numeric(df['runs'], errors='coerce').fillna(0).astype(int)

In [79]:
df['current_score'] = df.groupby('match_id')['runs'].cumsum()

C:\Users\Patel Meet\AppData\Local\Temp\ipykernel_33744\2248842435.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_score'] = df.groupby('match_id')['runs'].cumsum()

In [80]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score
741,8,Kolkata Knight Riders,Mumbai Indians,0.1,1,0,Mumbai,1
742,8,Kolkata Knight Riders,Mumbai Indians,0.2,1,0,Mumbai,2
743,8,Kolkata Knight Riders,Mumbai Indians,0.3,1,0,Mumbai,3
744,8,Kolkata Knight Riders,Mumbai Indians,0.4,0,0,Mumbai,3
745,8,Kolkata Knight Riders,Mumbai Indians,0.5,1,0,Mumbai,4
...,...,...,...,...,...,...,...,...
142289,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.2,0,0,Delhi,154
142290,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.3,6,0,Delhi,160
142291,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.4,1,0,Delhi,161
142292,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.5,0,B Kumar,Delhi,161
142293,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.6,1,0,Delhi,162

In [81]:
df = df.copy()
df['overs']=df['ball'].apply(lambda x:str(x).split(".")[0])
df['ball_no']=df['ball'].apply(lambda x:str(x).split(".")[1])
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,overs,ball_no
741,8,Kolkata Knight Riders,Mumbai Indians,0.1,1,0,Mumbai,1,0,1
742,8,Kolkata Knight Riders,Mumbai Indians,0.2,1,0,Mumbai,2,0,2
743,8,Kolkata Knight Riders,Mumbai Indians,0.3,1,0,Mumbai,3,0,3
744,8,Kolkata Knight Riders,Mumbai Indians,0.4,0,0,Mumbai,3,0,4
745,8,Kolkata Knight Riders,Mumbai Indians,0.5,1,0,Mumbai,4,0,5
...,...,...,...,...,...,...,...,...,...,...
142289,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.2,0,0,Delhi,154,19,2
142290,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.3,6,0,Delhi,160,19,3
142291,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.4,1,0,Delhi,161,19,4
142292,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.5,0,B Kumar,Delhi,161,19,5
142293,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.6,1,0,Delhi,162,19,6

In [82]:
df['overs'] = df['overs'].astype(int)
df['ball_no'] = df['ball_no'].astype(int)

In [83]:
df['balls_bowled'] = (df['overs'] * 6) + df['ball_no']
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,overs,ball_no,balls_bowled
741,8,Kolkata Knight Riders,Mumbai Indians,0.1,1,0,Mumbai,1,0,1,1
742,8,Kolkata Knight Riders,Mumbai Indians,0.2,1,0,Mumbai,2,0,2,2
743,8,Kolkata Knight Riders,Mumbai Indians,0.3,1,0,Mumbai,3,0,3,3
744,8,Kolkata Knight Riders,Mumbai Indians,0.4,0,0,Mumbai,3,0,4,4
745,8,Kolkata Knight Riders,Mumbai Indians,0.5,1,0,Mumbai,4,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...
142289,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.2,0,0,Delhi,154,19,2,116
142290,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.3,6,0,Delhi,160,19,3,117
142291,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.4,1,0,Delhi,161,19,4,118
142292,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.5,0,B Kumar,Delhi,161,19,5,119
142293,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.6,1,0,Delhi,162,19,6,120

In [84]:
df['balls_left'] = 120 - df['balls_bowled']
df['balls_left'] = df['balls_left'].apply(lambda x: 0 if x < 0 else x)
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,overs,ball_no,balls_bowled,balls_left
741,8,Kolkata Knight Riders,Mumbai Indians,0.1,1,0,Mumbai,1,0,1,1,119
742,8,Kolkata Knight Riders,Mumbai Indians,0.2,1,0,Mumbai,2,0,2,2,118
743,8,Kolkata Knight Riders,Mumbai Indians,0.3,1,0,Mumbai,3,0,3,3,117
744,8,Kolkata Knight Riders,Mumbai Indians,0.4,0,0,Mumbai,3,0,4,4,116
745,8,Kolkata Knight Riders,Mumbai Indians,0.5,1,0,Mumbai,4,0,5,5,115
...,...,...,...,...,...,...,...,...,...,...,...,...
142289,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.2,0,0,Delhi,154,19,2,116,4
142290,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.3,6,0,Delhi,160,19,3,117,3
142291,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.4,1,0,Delhi,161,19,4,118,2
142292,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.5,0,B Kumar,Delhi,161,19,5,119,1
142293,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.6,1,0,Delhi,162,19,6,120,0

In [85]:
df['player_dismissed'] = df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
df['player_dismissed'] = df['player_dismissed'].astype('int')
df['player_dismissed'] = df.groupby('match_id')['player_dismissed'].cumsum()
df['wickets_left'] = 10 - df['player_dismissed']

In [86]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,overs,ball_no,balls_bowled,balls_left,wickets_left
741,8,Kolkata Knight Riders,Mumbai Indians,0.1,1,0,Mumbai,1,0,1,1,119,10
742,8,Kolkata Knight Riders,Mumbai Indians,0.2,1,0,Mumbai,2,0,2,2,118,10
743,8,Kolkata Knight Riders,Mumbai Indians,0.3,1,0,Mumbai,3,0,3,3,117,10
744,8,Kolkata Knight Riders,Mumbai Indians,0.4,0,0,Mumbai,3,0,4,4,116,10
745,8,Kolkata Knight Riders,Mumbai Indians,0.5,1,0,Mumbai,4,0,5,5,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
142289,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.2,0,7,Delhi,154,19,2,116,4,3
142290,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.3,6,7,Delhi,160,19,3,117,3,3
142291,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.4,1,7,Delhi,161,19,4,118,2,3
142292,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.5,0,8,Delhi,161,19,5,119,1,2
142293,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.6,1,8,Delhi,162,19,6,120,0,2

In [87]:
df['current_run_rate'] = (df['current_score']*6)/df['balls_bowled']
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,overs,ball_no,balls_bowled,balls_left,wickets_left,current_run_rate
741,8,Kolkata Knight Riders,Mumbai Indians,0.1,1,0,Mumbai,1,0,1,1,119,10,6.000000
742,8,Kolkata Knight Riders,Mumbai Indians,0.2,1,0,Mumbai,2,0,2,2,118,10,6.000000
743,8,Kolkata Knight Riders,Mumbai Indians,0.3,1,0,Mumbai,3,0,3,3,117,10,6.000000
744,8,Kolkata Knight Riders,Mumbai Indians,0.4,0,0,Mumbai,3,0,4,4,116,10,4.500000
745,8,Kolkata Knight Riders,Mumbai Indians,0.5,1,0,Mumbai,4,0,5,5,115,10,4.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142289,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.2,0,7,Delhi,154,19,2,116,4,3,7.965517
142290,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.3,6,7,Delhi,160,19,3,117,3,3,8.205128
142291,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.4,1,7,Delhi,161,19,4,118,2,3,8.186441
142292,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.5,0,8,Delhi,161,19,5,119,1,2,8.117647
142293,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.6,1,8,Delhi,162,19,6,120,0,2,8.100000

In [88]:
df['last_5_over'] = df.groupby('match_id')['runs'].transform(lambda x: x.rolling(window=30, min_periods=1).sum())

In [89]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,overs,ball_no,balls_bowled,balls_left,wickets_left,current_run_rate,last_5_over
741,8,Kolkata Knight Riders,Mumbai Indians,0.1,1,0,Mumbai,1,0,1,1,119,10,6.000000,1.0
742,8,Kolkata Knight Riders,Mumbai Indians,0.2,1,0,Mumbai,2,0,2,2,118,10,6.000000,2.0
743,8,Kolkata Knight Riders,Mumbai Indians,0.3,1,0,Mumbai,3,0,3,3,117,10,6.000000,3.0
744,8,Kolkata Knight Riders,Mumbai Indians,0.4,0,0,Mumbai,3,0,4,4,116,10,4.500000,3.0
745,8,Kolkata Knight Riders,Mumbai Indians,0.5,1,0,Mumbai,4,0,5,5,115,10,4.800000,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142289,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.2,0,7,Delhi,154,19,2,116,4,3,7.965517,49.0
142290,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.3,6,7,Delhi,160,19,3,117,3,3,8.205128,51.0
142291,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.4,1,7,Delhi,161,19,4,118,2,3,8.186441,46.0
142292,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.5,0,8,Delhi,161,19,5,119,1,2,8.117647,45.0
142293,1168,Sunrisers Hyderabad,Kolkata Knight Riders,19.6,1,8,Delhi,162,19,6,120,0,2,8.100000,42.0

In [90]:
final_df=df.groupby('match_id').sum()['runs'].reset_index().merge(df, on='match_id')
final_df

,match_id,runs_x,batting_team,bowling_team,ball,runs_y,player_dismissed,city,current_score,overs,ball_no,balls_bowled,balls_left,wickets_left,current_run_rate,last_5_over
0,8,178,Kolkata Knight Riders,Mumbai Indians,0.1,1,0,Mumbai,1,0,1,1,119,10,6.000000,1.0
1,8,178,Kolkata Knight Riders,Mumbai Indians,0.2,1,0,Mumbai,2,0,2,2,118,10,6.000000,2.0
2,8,178,Kolkata Knight Riders,Mumbai Indians,0.3,1,0,Mumbai,3,0,3,3,117,10,6.000000,3.0
3,8,178,Kolkata Knight Riders,Mumbai Indians,0.4,0,0,Mumbai,3,0,4,4,116,10,4.500000,3.0
4,8,178,Kolkata Knight Riders,Mumbai Indians,0.5,1,0,Mumbai,4,0,5,5,115,10,4.800000,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87827,1168,162,Sunrisers Hyderabad,Kolkata Knight Riders,19.2,0,7,Delhi,154,19,2,116,4,3,7.965517,49.0
87828,1168,162,Sunrisers Hyderabad,Kolkata Knight Riders,19.3,6,7,Delhi,160,19,3,117,3,3,8.205128,51.0
87829,1168,162,Sunrisers Hyderabad,Kolkata Knight Riders,19.4,1,7,Delhi,161,19,4,118,2,3,8.186441,46.0
87830,1168,162,Sunrisers Hyderabad,Kolkata Knight Riders,19.5,0,8,Delhi,161,19,5,119,1,2,8.117647,45.0
87831,1168,162,Sunrisers Hyderabad,Kolkata Knight Riders,19.6,1,8,Delhi,162,19,6,120,0,2,8.100000,42.0

In [94]:
final_df=final_df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','current_run_rate','last_5_over','runs_x']]
final_df

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,current_run_rate,last_5_over,runs_x
0,Kolkata Knight Riders,Mumbai Indians,Mumbai,1,119,10,6.000000,1.0,178
1,Kolkata Knight Riders,Mumbai Indians,Mumbai,2,118,10,6.000000,2.0,178
2,Kolkata Knight Riders,Mumbai Indians,Mumbai,3,117,10,6.000000,3.0,178
3,Kolkata Knight Riders,Mumbai Indians,Mumbai,3,116,10,4.500000,3.0,178
4,Kolkata Knight Riders,Mumbai Indians,Mumbai,4,115,10,4.800000,4.0,178
...,...,...,...,...,...,...,...,...,...
87827,Sunrisers Hyderabad,Kolkata Knight Riders,Delhi,154,4,3,7.965517,49.0,162
87828,Sunrisers Hyderabad,Kolkata Knight Riders,Delhi,160,3,3,8.205128,51.0,162
87829,Sunrisers Hyderabad,Kolkata Knight Riders,Delhi,161,2,3,8.186441,46.0,162
87830,Sunrisers Hyderabad,Kolkata Knight Riders,Delhi,161,1,2,8.117647,45.0,162
87831,Sunrisers Hyderabad,Kolkata Knight Riders,Delhi,162,0,2,8.100000,42.0,162

In [95]:
final_df.isnull().sum()

batting_team        0
bowling_team        0
city                0
current_score       0
balls_left          0
wickets_left        0
current_run_rate    0
last_5_over         0
runs_x              0
dtype: int64

In [97]:
final_df=final_df.sample(final_df.shape[0])
final_df

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,current_run_rate,last_5_over,runs_x
6519,Sunrisers Hyderabad,Chennai Super Kings,Mumbai,108,42,7,8.307692,46.0,178
64483,Rajasthan Royals,Kolkata Knight Riders,Ahmedabad,105,42,6,8.076923,38.0,168
55892,Kolkata Knight Riders,Delhi Capitals,Delhi,181,12,4,10.055556,41.0,204
27380,Punjab Kings,Sunrisers Hyderabad,Mumbai,38,88,8,7.125000,38.0,151
50260,Mumbai Indians,Chennai Super Kings,Chennai,59,80,7,8.850000,46.0,155
...,...,...,...,...,...,...,...,...,...
82734,Delhi Capitals,Sunrisers Hyderabad,Visakhapatnam,6,115,10,7.200000,6.0,167
25138,Chennai Super Kings,Lucknow Super Giants,Mumbai,57,90,9,11.400000,53.0,210
62721,Delhi Capitals,Rajasthan Royals,Centurion,81,49,6,6.845070,33.0,143
25067,Rajasthan Royals,Sunrisers Hyderabad,Pune,137,38,8,10.024390,58.0,210
75054,Punjab Kings,Kolkata Knight Riders,Kolkata,10,105,10,4.000000,10.0,149

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor